* {
  background-color: #0f1116;
}

.top {
  background-image: url("./assets/blue swoop gradient by EvgeniyZemelko.jpeg");
  background-size: cover; /* Optional: Adjusts the size of the background */
  background-position: center; /* Optional: Centers the background image */
}

nav a {
  color: #e6e6e6;
}

.bg-transparent {
  background-color: transparent !important;
}
.navbar * {
  background-color: inherit;
}

nav,
nav .container,
.navbar-toggler-icon,
nav .collapse {
  background-color: inherit;
}

nav button {
  border-color: #4ea8de;
  color: #e6e6e6;
}
.navbar-nav {
  background-color: inherit;
  width: 100%;
}

.contact-link {
  border: 2px solid #4ea8de;
  color: #e6e6e6;
  border-radius: 30px;
}

.navbar-nav .nav-link {
  background-color: inherit;
  color: white;
}

.topSocial,
.topSocial a {
  background-color: inherit;
}

.topSocial a svg {
  background-color: inherit;
  font-size: 35px;
  margin: 0 10px;
}

.titleBody {
  background-color: transparent;
}

.titleBody .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 5px;
}

.titleBody * {
  background-color: transparent;
}

@media (max-width: 769px) {
  .titleBody {
    justify-content: center;
  }
}

.title h1,
.title p {
  color: white;
  max-width: 500px;
  margin: 10px;
  text-align: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title .contact {
  font-size: 18px;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  width: 200px;
}

.title a {
  text-decoration: none;
  width: fit-content;
}

.headings {
  background-color: transparent;
  border-bottom: 2px solid #4ea8de;
  color: white;
  width: fit-content;
  min-width: 200px;
  padding: 15px;
  margin: 30px 0;
  text-align: center;
}

.contain {
  width: 100%;
  margin: 0 auto;
}

#about p {
  color: white;
}

#about {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#about h1 {
  color: white;
  max-width: 500px;
  margin: 10px 0;
}

#about img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.programChild svg,
.programChild img {
  width: 250px;
  height: 250px;
  object-fit: fill;
}

.carousel-indicators {
  background-color: transparent;
}

#services h3,
#services li {
  color: white;
}

.programChild {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 300px;
  height: 300px;
  margin: 3px;
}

.accordion-item {
  border-radius: 60px;
}

.card * {
  background-color: #1c1f26;
}

.projectHead button {
  background-color: #1e1e1e;
  color: #336699;
  display: flex;
  justify-content: center;
}

.projectHead button:not(.collapsed) {
  background-color: #121212;
  color: #fff;
}

.projectHead .links {
  margin: 5px;
  background-color: inherit;
}

.projectHead .links svg {
  font-size: 20px;
  background-color: inherit;
}

.projectHead h3 {
  background-color: inherit;
  color: white;
}

.projectDes p {
  color: white;

  width: inherit;
  max-width: inherit;
  margin: 0;
  text-wrap: wrap;
  white-space: pre-wrap;
}

.projPrograms {
  display: flex;
}

.projPrograms svg,
.projPrograms img {
  width: 20px;
  height: 20px;
  margin: 3px;
  object-fit: fill;
}

.projectIcon {
  background-color: inherit;
  font-size: 50px;
}

.accordion {
  display: flex;
  flex-wrap: wrap;
}

.accordion .projectChild {
  flex: 1 0 0;
  min-width: fit-content;
  margin: 5px;
}

#contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact h3 {
  color: #336699;
}

#contact p,
#contact a {
  color: #a0a4ab;
  text-align: center;
}

.contacts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact svg {
  color: #4ea8de;
  margin-right: 3px;
}

.contact a {
  text-decoration: none;
  color: #9d9d9d;
  text-align: center;
}

.contact {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
