* {
  background-color: #121212;
}
nav a {
  color: white;
}

nav,
nav .container,
.navbar-toggler-icon,
nav .collapse {
  background-color: #336699;
}

nav button {
  border-color: white;
  color: white;
}

.navbar-nav .nav-link {
  background-color: #336699;
  color: white;
}

.topSocial,
.topSocial a {
  background-color: inherit;
}

.topSocial a svg {
  background-color: inherit;
  font-size: 35px;
  margin: 0 10px;
}

.titleBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 50px 5px;
}

@media (max-width: 769px) {
  .titleBody {
    justify-content: center;
  }
}

.titleBody img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.title h1,
p {
  color: white;
  max-width: 500px;
  margin: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.title .contact {
  background-color: #336699;
  border: #121212;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
}

.title a {
  text-decoration: none;
}

.headings {
  background-color: #121212;
  border: 2px solid #336699;
  color: white;
  width: fit-content;
  min-width: 200px;
  border-radius: 5px;
  font-size: 25px;
  padding: 15px;
  margin: 30px;
  text-align: center;
}

.contain {
  width: 100%;
  margin: 0 auto;
}

#about p {
  width: 100%;
  max-width: fit-content;
  /* margin: auto; */
}

#about {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.programsParent {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 640px) {
  .programsParent {
    justify-content: space-around;
  }
}

.programChild svg,
.programChild img {
  width: 25px;
  height: 25px;
  object-fit: fill;
}

.programs {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  max-width: 360px;
}

@media (max-width: 341px) {
  .programs {
    justify-content: center;
  }
}

.programChild {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 100px;
  height: 90px;
  margin: 3px;
}

.accordion-item {
  border-radius: 60px;
}

.projectHead button {
  background-color: #1e1e1e;
  color: #336699;
  display: flex;
  justify-content: center;
}

.projectHead button:not(.collapsed) {
  background-color: #121212;
  color: #fff;
}

.projectHead .links {
  margin: 5px;
  background-color: inherit;
}

.projectHead .links svg {
  font-size: 20px;
  background-color: inherit;
}

.projectHead h3 {
  background-color: inherit;
  color: white;
}

.projectDes p {
  /* color: white; */
  width: inherit;
  max-width: inherit;
  margin: 0;
  text-wrap: wrap;
  white-space: pre-wrap;
}

.projPrograms {
  display: flex;
}

.projPrograms svg,
.projPrograms img {
  width: 20px;
  height: 20px;
  margin: 3px;
  object-fit: fill;
}

.projectIcon {
  background-color: inherit;
  font-size: 50px;
}

.accordion {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.accordion .projectChild {
  flex: 1 0 0;
  min-width: fit-content;
  margin: 5px;
}

#contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact h3 {
  color: #336699;
}

#contact p {
  color: #9d9d9d;
  text-align: center;
}

.contacts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact svg {
  color: #336699;
  margin-right: 3px;
}

.contact a {
  text-decoration: none;
  color: #9d9d9d;
  text-align: center;
}

.contact {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
